
set(CONFIG_ARCHITECTURE ${BUILD_ARCH})
set(OPENCMISS_MPI ${OPENCMISS_MPI})
set(OPENCMISS_TOOLCHAIN ${TOOLCHAIN})
set(IRON_BINARY_DIR ${OPENCMISS_LIBRARIES_BINARY_MPI_DIR}/iron/${BUILD_TYPE_PATH_ELEM})
set(ZINC_BINARY_DIR ${OPENCMISS_LIBRARIES_BINARY_NO_MPI_DIR}/zinc/${BUILD_TYPE_PATH_ELEM})
#set(ARCHITECTURE_MPI_PATH ${ARCHITECTURE_MPI_PATH})
#set(ARCHITECTURE_NO_MPI_PATH ${ARCHITECTURE_NO_MPI_PATH})

