
set(CONFIG_ARCHITECTURE ${BUILD_ARCH})

set(OPENCMISS_MPI_IMPLEMENTATION ${OPENCMISS_MPI_IMPLEMENTATION})
set(OPENCMISS_TOOLCHAIN ${OPENCMISS_TOOLCHAIN})
set(OPENCMISS_USE_ARCHITECTURE_PATH ${OPENCMISS_USE_ARCHITECTURE_PATH})

set(IRON_BINARY_DIR ${OPENCMISS_LIBRARIES_BINARY_MPI_DIR}/iron/${BUILD_TYPE_PATH_ELEM})
set(ZINC_BINARY_DIR ${OPENCMISS_LIBRARIES_BINARY_NO_MPI_DIR}/zinc/${BUILD_TYPE_PATH_ELEM})

set(ARCHITECTURE_MPI_PATH ${ARCH_MPI_PATH})
set(ARCHITECTURE_NO_MPI_PATH ${ARCH_NO_MPI_PATH})
set(CONFIG_PACKAGE_ARCHITECTURE_MPI_PATH ${CONFIG_PACKAGE_ARCHITECTURE_MPI_PATH})
set(CONFIG_PACKAGE_ARCHITECTURE_NO_MPI_PATH ${CONFIG_PACKAGE_ARCHITECTURE_NO_MPI_PATH})

